<p id="notice"><%= notice %></p>

<h1>Sleep Alerts</h1>

<table>
  <!-- <thead>
    <tr>
      <th>User</th>
      <th>Bed time</th>
      <th>Wake time</th>
      <th colspan="3"></th>
    </tr>
  </thead> -->

  <tbody>
    <% @sleep_alerts.each do |sleep_alert| %>
      <tr>
        <td><%= sleep_alert.user_id %></td>
        <td><%= sleep_alert.bed_time %></td>
        <td><%= sleep_alert.wake_time %></td>
        <td><%= link_to 'Show', sleep_alert %></td>
        <td><%= link_to 'Edit', edit_sleep_alert_path(sleep_alert) %></td>
        <td><%= link_to 'Destroy', sleep_alert, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sleep Alert', new_sleep_alert_path %>
