<p id="notice"></p>

<p>
  <strong>The average person takes 15 minutes to fall asleep. <br> If you go to bed at the
  following bed time, <br>you should wake up at the suggested wake time.</strong>
  <%= @sleep_alert.user_id %>
</p>

<img src="http://37.media.tumblr.com/d74c6badf7c5b58e59cd22eaffc64059/tumblr_n1tykrhm3F1sqr7kvo4_500.gif" alt="fireworks">
<br>

<p>
  <strong>Bed time:</strong>
  <%= @sleep_alert.bed_time %>
</p>

<p>
  <strong>Wake time:</strong>
  <%= @sleep_alert.wake_time %>
</p>

<form action=/>
    <input type="submit" value="GO BACK" />
</form>

<!-- <%= link_to 'Edit', edit_sleep_alert_path(@sleep_alert) %> |
<%= link_to 'Back', sleep_alerts_path %> -->
